@import url("https://fonts.googleapis.com/css?family=Nunito|PT+Serif:400,400i&display=swap");
@import "_variables";
@import "_elements";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Serif", serif;
    background-color: #f0efeb;
    color: $black;
    padding: 30px 40px;
    line-height: 1.5;
}
header {
    font-size: 46px;
    letter-spacing: 1px;
    margin-bottom: 175px;
}

.works {
    margin-bottom: 80px;
    .works__header {
        @extend %grid;
        padding-bottom: 10px;
        span {
            @extend %tinyText;
        }
    }
    .works__list {
        .works__work {
          cursor: pointer;
          font-size: 20px;
          border-top: 1px solid $black;
          padding: 20px 0px;
          @extend %grid;
          &:hover {
            font-style: italic;
            }
        }
    }
}

.posts {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 55vh;
    .post {
        cursor: pointer;
        padding: 20px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .post__header,
        footer {
            display: flex;
            justify-content: space-between;
            letter-spacing: 1px;
        }
        &:nth-child(3n + 1) {
            background-color: #dd433e;
        }
        &:nth-child(3n + 2) {
            background-color: #e4c874;
        }
        &:nth-child(3n + 3) {
            background-color: #198ca1;
        }
        &:nth-child(3n + 4) {
            background-color: #ec9860;
        }
        &:nth-child(3n + 5) {
            background-color: #ccb2a2;
        }
        .post__content {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                h3 {
                    letter-spacing: 2px;
                    line-height: 1.3;
                    font-size: 26px;
                    text-align: center;
                }
                .invisible {
                    display: none;
                    height: 100%;
                    width: 100%;
                    background-image: url("https://images.prismic.io/beige/3479dcfd-17b4-4391-8b1c-506801d60786_Beige-Mode-Fashion-Menswear-Trends-2020-Gucci-Cruise-5.jpg?auto=compress,format?auto=format,compress&q=60&fit=crop&w=1200&h=1920");
                    background-position: center center;
                    background-size: cover;
                }
            }
            &:hover {
                .post__content {
                    .visible {
                        display: none;
                    }
                    .invisible {
                        display: block;
                }
            }
        }
    }
}